<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>保存成功</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<style type="text/css">

	</style>
</head>
<body>
<h1><%= message %></h1>
</body>
</html>
